.App {
  text-align: center;
}
#skill-pics {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}
.icon img {
  max-height: 100px;
  height: auto;
  width: auto;
}
.icon:hover {
  transform: translateY(-10px);
  transition: transform 200ms ease-in-out;
  font-weight: 500;
  text-shadow: 0 2px 2px gray;
}